{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>codenigga list</title>
     <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static "css/>style.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<nav>
    <div class="container nav-wrapper">
        <a href="/" class="brand-logo">Codenigga List</a>
        <ul id="nav-mobile" class="right">
            <li><a href="/">Home</a></li>
        </ul>
    </div>
</nav>


<h2 style="text-align: center">Mpa Kedu ihe ina acho na Codenigga List</h2>
<div class="row">
    <div class="col s4">
        <!--promo content 1 goes here -->
        <div class="center">
        <i class="large material-icons" style="color: #EE6E73">flash_on</i>
            <p>Fast craigslist web scraper</p>
        <p class="light center">scrape away right here with beautigul GUI.</p>
        </div>
    </div>

    <div class="col s4">
        <!--content 2 goes here -->
        <div class="center">
            <i class="large material-icons" style="color: orange">camera</i>
            <p>Filter your searches</p>
            <p class="light center">We built in functionality to filter based on pricing.</p>
        </div>
    </div>

    <div class="col s4">
        <!-- content 3 goes here-->
         <div class="center">
                <i class="large material-icons" style="color: blue">chrome_reader_mode</i>
                <p>A much sexier front-end to craiglist</p>
                <p class="light center">I built this with Love</p>
         </div>
    </div>

</div>

</body>
</html>
